<?xml  version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="FIRST_LAUNCH" value="true"/>
        <add key="RELATIVE_ENTRY_DIR" value="\\wrpc\\data\\json"/>
        <add key="RPC_CLIENT_ID" value="1305888323461713930"/>
        <add key="HEIGHT" value="450"/>
        <add key="WIDTH" value="800"/>
        <add key="JSON_ENTRY_URI" value="https://github.com/OIL1I/WatchingRPC/tree/fc32fedc70f72e93a66d2e9313ec5b5142ae3d77/JSON"/>
        <add key="HELP_URI" value="https://github.com/OIL1I/WatchingRPC/wiki"/>
    </appSettings>
</configuration>